body {
    
    background-color: #dff0d8;
    color: #696969;
}

h1 {
    border-bottom: 3px solid #cc9900;
    font: Georgia, serif;
    color: #996600;
}

#main {
    padding: 20px;
    background-color: white;
    border-radius: 0 4px 4px 4px;
}

a {
    color: black;
}
/* Menu Styles ------------------------------*/
ul#menu {
    padding: 0px;
    position: relative;
    margin: 50px;
}

    ul#menu li {
        display: inline;
    }

        ul#menu li a {
            background-color: white;
            padding: 10px 20px;
            text-decoration: none;
            line-height: 2.8em;
            /*CSS3 properties*/
            border-radius: 4px 4px 0 0;
        }

            ul#menu li a:hover {
                background-color: white;
            }
/* Forms Styles ------------------------------*/
fieldset {
    padding-left: 12px;
}

    fieldset label {
        display: block;
        padding: 4px;
    }

input[type="text"], input[type="password"] {
    width: 300px;
}
